﻿/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #E6DBD4;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input[type="text"],
input[type="password"] {
    max-width: 280px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }
    .body-content {
        padding: 0;
    }
}

.planningDiv {
    color: #fff;
    border-radius: 4px;
    padding: 15px 25px;
    margin-top: 30px;
}

.planningDiv h4 {
    margin-top: 20px;
}

.planningDiv h5 {
    margin-top: 10px;
    margin-bottom: 20px;
}

.planningDiv h4,
.planningDiv h5 {
    text-align: center;
}

.planningDiv h2 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

.planningDiv i {
    font-size: 70px;
    width: 100%;
    text-align: center;
    padding: 30px 0px;
}

.planningDiv .btn-default {
    margin: 20px auto;
    display: table;
}

.planningDiv p.centered {
    text-align: center;
    font-size: 18px;
}

.newPlanning {
    background-color: #E7A365;
    background: linear-gradient(#E7A365, #F4CD8B);
}

.pollingOne {
    background-color: #769496;
    background: linear-gradient(#769496, #A5CCCA);
}

.pollingInProcess {
    background-color: #F69065;
    background: linear-gradient(#F69065, #F4CD8B);
}

.newPlanning_AddCard {
    background-color: #F69065;
}


.pollingOne_Card {
    background-color: #769496;
}

.planning_Card {
    border: 1px solid transparent;
    border-radius: 4px;

    width: 340px;
    border-radius: 4px;
    padding-top: 20px;
    margin: 30px auto;

    color: #fff;
}

.planning_Card h6 {
    text-align: center;
    font-weight: bold;
    font-size: 16px;
}

.planning_Card p {
    text-align: center;
    font-size: 12px;
    margin-bottom: 15px;
}

.planning_Card h2 {
    text-align: center;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 50px;
}

.planning_Card table {
    background-color: #fff;
    color: #807363;
    width: 100%;
}

.planning_Card table caption {
    background-color: #fff;
    font-weight: bold;
    padding: 0px 20px;

    font-size:12px;
}

.planning_Card table caption p {
    padding: 20px 0px;
    text-align: left;
    border-bottom: 1px solid #E3C7A4;
    float:left;
}

.planning_Card table th,
.planning_Card table td {
    padding: 18px;
}

.planning_Card table th {
    font-weight: 100;
}

.planning_Card input[type="submit"] {
    margin: 0px auto;
    padding: 10px;

    display: table;

    border: 1px solid #E3C7A4;
    border-radius: 4px;

    color: #807363;
    font-weight: bold;
}
.planning_Card input[type="submit"]:hover {
    background-color: #e9d7d2;
}

.planning_Card input[type="number"] {
    width: 40px;
    border: none;
    border-bottom: 1px solid #E3C7A4;
    border-radius: 4px;
    color: #807363;

    padding: 2px;
    text-align:center;
}

.planning_Card .eventNameInput {
    width: 100%;
    border: 1px solid #E3C7A4;
    border-radius: 4px;
    color: #807363;

    padding: 6px;
    margin-top: 10px;
}

::-webkit-input-placeholder {
   font-style: italic;
}
:-moz-placeholder {
   font-style: italic;  
}
::-moz-placeholder {
   font-style: italic;  
}
:-ms-input-placeholder {  
   font-style: italic; 
}

.planning_Card .timeSelect {
    border: 1px solid #E3C7A4;
    border-radius: 4px;
    color: #807363;

    padding: 6px 6px 2px 2px;
}

.errorCustomText {
    margin: 10px auto;
    display: table;
}





.pollingInProcess {
    padding: 30px 2px 2px 2px;
}

.pollingInProcess H2,
.pollingInProcess H4,
.pollingInProcess H5
{
    text-align: center;
}

.pollingInProcess H2 {
    margin: 30px 0px 60px 0px;
}

.pollingInProcess .curPlanningInfo {
    background-color: #fff;
    color: #807363;
    border-radius: 4px;
    display:flex;
}

.pollingInProcess .curPlanningInfo .statCaption {
    padding: 20px 0px;
    margin: 0px 20px;
    border-bottom: 1px solid #E3C7A4;
    font-weight: bold;
    display: inline-block;
}

.pollingInProcess .curPlanningInfo .statSimpleTable {
    padding: 20px;
}

.pollingInProcess .curPlanningInfo .statSimpleTable table th {
    font-weight: 100;
}
.pollingInProcess .curPlanningInfo .statSimpleTable table td {
    padding: 5px 10px;
}

.pollingInProcessBtnCon {
    display:table;
    margin: 30px auto;
}

.pollingInProcessBtn {
    margin: 20px;
    padding: 10px;
    border: 1px solid #E3C7A4;
    border-radius: 4px;
    color: #807363;
    font-weight: bold;
}

.winList {
    width: 360px;
    border-radius: 4px;
}

.partyList {
    width: 360px;
    border: none;
    padding: 0px;
    margin-left: 20px;
    margin-top: 20px;
    color: #807363;
    list-style-type: none;
}

.settingsBtnCon {
    position: absolute;
    right: 5px;
    top: 15px;
}

.settingsBtn {
    margin-right: 10px;
    color: #fff;
    background-color: transparent;
    border: none;
}

.settingsBtn i {
    font-size: 18px;
    padding: 0px;
}

.dropdownRight {
    right: 0;
    left: auto;
}

.highcharts-credits {
    display:none;
}